.admin-list th, .admin-list td {
    padding-top: 15px;
    a:hover {
         color: $success;
    }    
}

.page-item  {
    border-radius: 0;
    .page-link{
        border-color: $success;
        color: #000;
    }
    .material-icons{
        line-height: 1.5;
    }
    a:hover {
        background-color: $success;
        color: #fff;
    }
}

.modal-content {
    padding: 32px;
    position: relative;
    img {
        width: 141px;
        height: 141px;
        object-fit: cover;                    
        object-position: top;
    }
    .btn-close {
        position:absolute;
        top:0;
        right:0;
    } 
}
