body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.font-mono {
    font-family: 'Roboto Mono', monospace;
}

.main {
    padding: 32px;
}

.list-group .list-group-item.active {
    color: unset;
    background-color: #F8F9FA;
    border-color: #CED4DA;
}

.text-gray900 {
 color:($gray-900); 
}

.fz-xs {
    font-size: $font-size-base * .75;
}
.lh-24 {
    line-height: 24px;
}
.border-g400 {
    border-color: ($gray-400);
}